{% extends "rss/base.html" %} {% block content %}
<div class="content-section">
  <div class="eB6CVLFREpaR3bVLediF QZtkD_2eeEJ_6V8PkGsU">
    <div class="eNI_PqFeHYzr952K16cs dzeMoZ8Rd3xlDhYMbmdi _PB9uwBnv2xThcmycJUP">
      <img
        src="https://d3v0px0pttie1i.cloudfront.net/uploads/user/avatar/3651437/8ba28c09.jpg"
        alt="Avatar"
        class="eqi1x7VSofJzHdKiBb1B IPzutqaPdydwNRz02_Fe uJwzedRJrmEMuEEf1Z9Y"
      />
      <div class="name OnmKNExNqGadJTwvMxVp _iIkHFSLM_0AZCjA4P76 Us_HnWRUbsGoDW6xP3AW Ne0NU4wX24DppU398u3g">
        EGGS: The Podcast
      </div>
      <h1 class="FhnlOtRTilzdcHTe2zvg zN1_FLhujdjC9gEJjpof IoIdVdpoev3paRVpy_IZ nCVZre20hldArmMnd1BF">
        EGGS Show - Podcast Appearance (Invitation Only)
      </h1>
    </div>
    <div
      class="B8kOb6j_njGdRPRJ3gsz V3laIgctYgqCl7k0Ywpy _E9RWTlFNLvj5sr1dIqU _FQNzd1NnFbfxRrmU3cy"
    >
      <div
        data-container="details"
        class="zFTPrqUURdVMVZAoLP0y m5ORyrG7i9zZVwwyxTO3 _MRRazrxYJBnNXBEXR0k"
      >
        <div class="rhjhlIQRBYjNOL0P7jXL EVHZBA6Ln4igE7SHdjHn">
          <span
            data-id="details-item-icon"
            class="_kfT7iKHBHeEpplwWaDi N2Z4uMlc7FTb_3stxUDP K0y8e6UTsMdzBbWxEOXd Amr3fhAFjIQncUSzDNE0 sl5fAQctEj1Mnp6hZaum _n7AjSA4KmznUg4mE468 mimptqbwq4XcPHFnsMhs _VvMKil6pcEJGzsUhvp2 jrLbDfzA4kom_AzKEsEl"
          ></span
          >1&nbsp;hr
        </div>
        <div
          class="rhjhlIQRBYjNOL0P7jXL EVHZBA6Ln4igE7SHdjHn AHBVUY_B3NS_DzxCCB3_"
        >
          <div class="cZfXGAryh6uGjjF8j4Y4 kOvhw6QdChsO97rFDoUF">
            <div class="RsgHZS3LXy9PcR3Ez4kI XkngAFrKccDNpxr99QGm">
              <svg
                fill="none"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                width="100%"
                height="100%"
                data-testid="web-conference-icon"
                data-id="details-item-icon"
              >
                <title>Web conference</title>
                <path
                  d="M15.542 3.776c-.342-.234-.684-.234-1.028-.117l-2.4 1.056v-.821c-.114-.94-.914-1.76-1.828-1.76H1.714C.8 2.134 0 2.954 0 3.894v8.213c0 .939.8 1.76 1.714 1.76h8.572c.914 0 1.714-.822 1.714-1.76v-.821l2.4 1.056c.572.234 1.258-.118 1.486-.705.114-.117.114-.234.114-.351V4.715c0-.352-.228-.704-.458-.939z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </div>
          Web conferencing details provided upon confirmation.
        </div>
      </div>
    </div>
    <div
      class="Rl80QCJ35uatyQ7tJdfp s9nsLU_XKnHIkhfAYznM jUCyxS_XCjgEPzgs_kFX HxY00_s4gSl9QcHfNY2y Z3tFNfvVAY67JytQ09fp"
    >
      <div class="k_tUa2XwT0esKZkWYshM UOUgYFhrylMAqJDUG1Tn">
        <p>
          This is a one-hour appearance on the Eggs Podcast with hosts Ryan
          Roghaar and Mike Smith.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}