{% extends "rss/base.html" %}
{% block content %}
    {% for item in items %}
    <div class="media content-section">
      <img class="align-self-start article-img mr-3" src="{{ item.cover_art }}" alt="Eggs Podcast Cover Art">
      <div class="media-body">
        <div class="article-metadata">
          {{ item.itunes_author }}
          <small class="text-muted">{{ item.pub_date|date:"F d, Y" }}</small>
        </div>
        
        <iframe height="52px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/9473c1d8-463c-46fc-bf48-92e75c4a1598?dark=true"></iframe>
        <h5 class="mt-0">{{ item.itunes_title }}</a></h5>
        <hr />
        {% comment %} <iframe height="52px" width="100%" frameborder="no" scrolling="no" seamless src="{{ item.audio_link }}"></iframe> {% endcomment %}
        {% comment %} <iframe height="52px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/b7a5af0d-6f46-4bd4-8c60-48baff4a5a28?dark=false"></iframe> {% endcomment %} 
        
        
        <p class="article-content">{{ item.itunes_summary }}</p>
      </div>
    </div>
    {% endfor %}




    {% comment %} Need to debug {% endcomment %}

    {% comment %} {% if is_paginated %}
      {% if item.has_previous %}
        <a class="btn btn-outline-link mb-4 pag_button" href="?page=1">First</a>
        <a class="btn btn-outline-link mb-4 pag_button" href="?page={{ item.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in items.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-link mb-4 pag_button_selected" href="?page={{ num }}">{{ num }}</a>
        {% elif num > item.number|add:'-3' and num < item.number|add:'3' %}
          <a class="btn btn-outline-link mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if item.has_next %}
        <a class="btn btn-outline-link mb-4 pag_button" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-link mb-4 pag_button" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %} {% endcomment %}
{% endblock content %}