{% extends "rss/base.html" %}
{% block content %}

    <iframe width="100%" height="315" src="https://www.youtube.com/embed/Wdnf1C_spuw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="small_title">Making the software development process more affordable with <a href="https://www.linkedin.com/in/ryanvice/">Ryan Vice</a></p>
    <hr />
    
    <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/eb53044e-b280-44d0-aa3d-ff9e60ebb41f?dark=true"></iframe>
    <p class="small_title">The rise of international rock phenomenon, <a href="https://www.linkedin.com/in/ryanvice/">Vayden</a></p>
    <hr />

    <iframe width="100%" height="315" src="https://www.youtube.com/embed/D6mmSonJgII" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="small_title">Energy transition and the future of hydrogen fuel technology with <a href="https://www.linkedin.com/in/novationleadership/">Andrew Murphy</a></p>
    <hr />
    
    <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/80a7cf01-19f3-4ce4-bdb5-b9bfca237bdf?dark=true"></iframe>
    <p class="small_title">Bringing time-honored crafts to the masses through television with <a href="https://en.wikipedia.org/wiki/Forged_in_Fire">J. Neilson</a></p>
    <hr />

    <iframe width="100%" height="315" src="https://www.youtube.com/embed/G69PKh80VTw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="small_title">Revolutionizing the hip-hop art form w/ founding member of the X-ecutioners,<a href="https://brolicarmydjschool.com/">DJ Rob Swift</a></p>
    <hr />
    
    <iframe height="200px" width="100%" frameborder="no" scrolling="no" seamless src="https://player.simplecast.com/6f819141-eacc-4db1-a82e-ece08bf83fff?dark=true"></iframe>
    <p class="small_title">The greatest environmental challenges facing us today, and how to solve them, with <a href="https://www.youtube.com/channel/UCRBwLPbXGsI2cJe9W1zfSjQ">Dave Borlace</a></p>
    <hr />
    

    <iframe width="100%" height="315" src="https://www.youtube.com/embed/s944YWuUrsw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="small_title">How to sell your online business for top dollar with ,<a href="https://exitpreneur.io/">Joe Valley</a></p>
    <hr />

{% endblock content %}